@{
    Layout = "";    
}

@{
    ViewBag.Title = "Page Not Found";
}

<h1>404, Page Not Found</h1>
<p>Yes this is a boring 404 page just deal with it.</p>
<p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>

@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
   So add padding in case we're short. *@
@(new string(' ', 512))